In [1]:
import os
import sys
import pandas

In [2]:
os.listdir()

['.ipynb_checkpoints',
 'LearningNumpy.ipynb',
 'LearningPandas.ipynb',
 'MyPythonLearning.ipynb',
 'Newsmallgray.png',
 'PandasApplications.ipynb',
 'smallgray.png',
 'supermarkets.csv',
 'supermarkets.json',
 'supermarkets_semi_colon.csv']

In [3]:
df1 = pandas.read_json("supermarkets.json")
df1

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [4]:
import geopy

In [5]:
from geopy.geocoders import Nominatim

In [6]:
nom = Nominatim(user_agent="geoapiExercises")

In [7]:
coordinate = nom.geocode("3666 21st St, San Francisco, CA 94114")
coordinate

Location(3666, 21st Street, Noe Valley, San Francisco, San Francisco City and County, California, 94114, United States of America, (37.75648887755102, -122.42934334693878, 0.0))

In [8]:
type(coordinate)

geopy.location.Location

In [9]:
coordinate = nom.geocode("Ghatkopar, India 400086")
coordinate

Location(Ghatkopar, Station Road, Saibaba Nagar, N Ward, Zone 6, Mumbai, Mumbai Suburban, Maharashtra, 400086, India, (19.0859539, 72.9082381, 0.0))

In [10]:
df1

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [11]:
df1['Full Address'] = df1["Address"] + ", " + df1["City"] + ", " + df1["State"] + ", " + df1["Country"]

In [12]:
df1

,ID,Address,City,State,Country,Name,Employees,Full Address
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"3666 21st St, San Francisco, CA 94114, USA"
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"735 Dolores St, San Francisco, CA 94119, USA"
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"332 Hill St, San Francisco, California 94114, USA"
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"3995 23rd St, San Francisco, CA 94114, USA"
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"1056 Sanchez St, San Francisco, California, USA"
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"551 Alvarado St, San Francisco, CA 94114, USA"

In [13]:
df1["Coordinates"] = df1["Full Address"].apply(nom.geocode)
df1.Coordinates

0    (3666, 21st Street, Noe Valley, San Francisco,...
1    (735, Dolores Street, Liberty Street Historic ...
2    (332, Hill Street, Noe Valley, San Francisco, ...
3    (3995, 23rd Street, Noe Valley, San Francisco,...
4    (1056, Sanchez Street, Noe Valley, San Francis...
5    (551, Alvarado Street, Noe Valley, San Francis...
Name: Coordinates, dtype: object

In [14]:
df1.Coordinates[0].latitude

37.75648887755102

In [15]:
df1["Latitude"] = df1["Coordinates"].apply(lambda x: x.latitude if x != None else None)
df1["Longitude"] = df1["Coordinates"].apply(lambda x: x.longitude if x != None else None)
df1

,ID,Address,City,State,Country,Name,Employees,Full Address,Coordinates,Latitude,Longitude
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"3666 21st St, San Francisco, CA 94114, USA","(3666, 21st Street, Noe Valley, San Francisco,...",37.756489,-122.429343
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"735 Dolores St, San Francisco, CA 94119, USA","(735, Dolores Street, Liberty Street Historic ...",37.757726,-122.425529
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"332 Hill St, San Francisco, California 94114, USA","(332, Hill Street, Noe Valley, San Francisco, ...",37.755725,-122.428601
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"3995 23rd St, San Francisco, CA 94114, USA","(3995, 23rd Street, Noe Valley, San Francisco,...",37.752965,-122.431714
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"1056 Sanchez St, San Francisco, California, USA","(1056, Sanchez Street, Noe Valley, San Francis...",37.752146,-122.429815
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"551 Alvarado St, San Francisco, CA 94114, USA","(551, Alvarado Street, Noe Valley, San Francis...",37.753673,-122.433220